body {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12pt;
  width: 750px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  margin-bottom: 8em;
}

h1 {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

blockquote {
  display: block;
  width: 670px;
  background-color: #EEE;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 10px 25px;
}

p {
  margin: 20px 0px;
}

a {
  text-decoration: none;
  background-color: transparent;
  font-weight: bold;
  color: #444;
}

a:active {
  color: #000;
}

a:hover {
  color: #000;
}
